.caption, .postscript {
    color: #9a9a9a;
    font-size: .9rem;
}

.caption {
    text-align: center;
    font-style: italic;
}

html, h1, h2, h3, h4, h5, h6, .sidebar, .pagination {
    font-family: 'Roboto', sans-serif;
}
  